$primary: red;
$sec: italic;
.grp1{
    h1{
        color:$primary;
    }
    h2{
        font-style: $sec;
    }
}

header{
    nav{
        a{
            @include common_style(red)
        }
    }
}